*{
  .poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
  .goblin-one-regular {
    font-family: "Goblin One", serif;
    font-weight: 400;
    font-style: normal;
  }

  .sedan-regular {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .sedan-regular-italic {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: italic;
  }  

  .sriracha-regular {
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
  }  
  
}

*{
  list-style: none;
  text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    font-family: 'poppins', sans-serif;
  }

  /* body {
    color: #ededed;
    background: rgb(202, 177, 151);

  } */

header{
  position: absolute;
  right: 0;
  top: 0;
  height: 25px;
  width: 100%;
  z-index: 1000;
  padding: 50px 9%;
  background: transparent;
  display: flex;
  justify-content:center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: normal;
}

.logo{
  color:black;
  margin-left: 250px;
  font-size: 30px;
  font-weight: 700;
  font-family: "Sriracha", cursive;
  padding: 5px;
  border-radius: 15px;
  background: linear-gradient(45deg, blue, transparent);
}

/* Nav bar */
.navbar{
  display: flex;
  margin-left: 450px;
}

.navbar a{
  text-decoration: none;
  color:floralwhite;
  padding: 50px;
  margin-left: 0px;
  font-size: 20px;
  font-weight: 600;
  /* border-bottom: 2px solid transparent;
  transition: all .55s ease; */
}

/* .navbar a:hover{
  padding: 5px;
  border-bottom: 2px solid;
  font-size: 25px;
} */

li{
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 15px;
}

/* li:hover{
  width: 100%;
  height: 40px;
  /* background: linear-gradient(45deg, red, yellow); */
  /* font-family: "Sriracha", cursive;
  font-size: 30px; */
/* } */


  /* Style the video: 100% width and height to cover the entire window */

  Video {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}


/* Add some content at the bottom of the video/page */
.content{
  display: flex;
  position: absolute;
  color: black;
  margin: 0;
  top: 28%;
  right: 32%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  height: 510px;
  width: 500px;
  border-radius: 18px;
  border-width: 60px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}

.content img{
  width: 100%;
}

.content h1{
  width: 100%;
}





/* Style the button used to pause/play the video */
/* #myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
} */

/* #myBtn:hover {
  background: #ddd;
  color: black;
} */

/* Media Query */

